
.navbar{
    background: #000;
}

.nav-item{
    padding-left: 1em;
    text-transform: uppercase;
}
#About-Header {
    background-image: url('../img/bg (9).jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 250px;
    position: relative;
}
#About-Header .dark-overly{
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#About-Header h2{
    color: #ffffff;
}
#about-info img{
    height: 450px;
    width: 450px;
}
#icon-box h3 {
    color: #ffffff;
}
#icon-box i{
    font-size: 50px;
    margin-bottom: 20px;
}
#testimonial .slick-prev::before{
    color: #000;
}
#testimonial .slick-next::before{
  color: #000;
}
