
.navbar{
    background: #000;
}

.nav-item{
    padding-left: 1em;
    text-transform: uppercase;
}
.carousel-item{
    height: 450px;
}
.carousel-img-1 {
    background-image: url('img/bg (16).jpg');
    background-size: cover;
}
.carousel-img-2 {
    background-image: url('img/bg (17).jpg');
    background-size: cover;
}
.carousel-img-3 {
    background-image: url('img/bg (15).jpg');
    background-size: cover;
}
#showcase h2{
    color: #ffffff;
}
#homeicon .fa{
    font-size: 50px;
}
#getstarted {
    background-image: url('img/bg (9).jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 250px;
    position: relative;
}
#getstarted .dark-overly{
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#getstarted .dark-overly h3{
    color: #ffffff;
}
#home-video{
    background-image: url('img/bg (18).jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 250px;
    position: relative;
}
#home-video .dark-overly{
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#home-video .dark-overly .fa{
    font-size: 50px;
}
#home-video .dark-overly h2{
    color: #ffffff;
}
#gallary img{
    min-height: 300px;
}









@media (max-width: 767px){
    .nav-item{
        padding-left:0 !important;
    }

    .STG {
        min-height: 300px;
    }
}
@media (max-width: 480px){
    .TS h2{
              font-size: 2.5rem;
    }
    .STG {
        min-height: 350px;
    }
}
